{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}
    <div class="container">
        <div class="card center-block" style="width: 700px; height: 600px; border: double">
            <form method="post" action=""  class="form-group text-center">
            {{ form.hidden_tag() }}
            {{ form.Pname.label }} <br>
            {{ form.Pname (class='form-control')}}<br><br>
            {{ form.description.label }}<br>
            {{ form.description (class='form-control')}}<br><br>
            {{ form.submit(class="btn btn-primary btn-lg") }}&ensp;<a href="{{ url_for('main.Other_project') }}" class="btn btn-primary btn-lg">Cancel</a></p>
            </form>
        </div>
    </div>
{% endblock %}