{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}
    <nav class="navbar navbar-default text-center" style="border: solid">
        <span style="font-size: 50px; font-family: fantasy"><i>Journal</i></span>
        <span>
            <ul class="nav navbar-nav navbar-right" style="padding: 10px 20px 10px 10px">
            </ul>
        </span>
    </nav>
    {% if form %}
        <form  method="post" action="">
            {{ form.hidden_tag() }}
            {{ form.date.label }} &ensp; e.g. yyyy-mm-dd <br>
            {{ form.date (class='form-control')}}<br>
            {{ form.issue.label }}<br>
            {{ form.issue (class='form-control')}}<br><br>
            {{ form.submit() }}
        </form>
    {% endif %}
    <br>
    {% for journal in journals %}
            {% if journal.user_id == current_user.id %}
        <div>
            <div style="border: solid; padding: 20px 20px 20px 20px">
                {{ journal.date }}:&ensp; {{ journal.issue }}<br>
                <div class="pull-right">
                <a href="{{ url_for('main.edit_journal', id=journal.id) }}" class="glyphicon glyphicon-pencil"></a>
                <a href="{{ url_for('main.del_journal', id=journal.id) }}" class="glyphicon glyphicon-trash"></a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}