{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}
    <nav class="navbar navbar-default text-center" style="border: solid">
        <span style="font-size: 50px; font-family: fantasy"><i>News</i></span>
        <span>
            <ul class="nav navbar-nav navbar-right" style="padding: 10px 20px 10px 10px">
                <li><a href="{{ url_for('main.upload_news') }}" class="">Upload News</a></li>
            </ul>
        </span>
    </nav>

      {% for news in news %}
        <div>
            <div style="border: solid; padding: 20px 20px 20px 20px">
                Date:{{ news.date }}<br>
                Title:{{ news.title }}<br>
                Details:{{ news.details }}<br>
                URL:{{ news.url }}
                <div class="pull-right">
                <a href="{{ url_for('main.edit_news', id=news.id) }}" class="glyphicon glyphicon-pencil"></a>
                <a href="{{ url_for('main.del_news', id=news.id) }}" class="glyphicon glyphicon-trash"></a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}%}